<section class="mx-auto" style="max-width: 950px" *ngIf="store.produtos$ | async as produtos">
  <h5 class="titulo column-gap-0">Qual categoria voce deseja</h5>
  <form [formGroup]="produtos.categoriaForm">
    <div *ngFor="let category of produtos.categories" class="field-checkbox col-2">
      <p-radioButton [inputId]="category.key" [value]="category"
                     formControlName="categoria"></p-radioButton>
      <label [for]="category.key" class="ml-2">{{category.name}}</label>
    </div>
  </form>
</section>
