<div class="grid mx-8 h-full" *ngIf="store.produtos$  | async as produtos">
  <div class="col-12">
    <p-steps [model]="store.items" [readonly]="true" [activeIndex]="produtos.activeIndex"></p-steps>
  </div>
  <ng-container *ngIf="produtos.activeIndex == 0">
    <div class="col-12">
      <app-nome-receita></app-nome-receita>
    </div>
  </ng-container>
  <ng-container *ngIf="produtos.activeIndex == 1">
    <div class="col-12">
      <app-categoria-receita></app-categoria-receita>
    </div>
  </ng-container>
  <ng-container *ngIf="produtos.activeIndex == 2">
    <div class="col-12">
      <app-ingrediente-receita></app-ingrediente-receita>
    </div>
  </ng-container>
  <ng-container *ngIf="produtos.activeIndex == 3">
    <div class="col-12">
      <app-preparo-receita></app-preparo-receita>
    </div>
  </ng-container>
  <div class="col-12">
    <div [ngClass]="{'justify-content-end':produtos.activeIndex == 0,'justify-content-around':produtos.activeIndex > 0}"
         class="h-full flex py-3 align-items-end">
      <div *ngIf="produtos.activeIndex > 0">
        <p-button label="voltar" (click)="onDowngradeIndex()"></p-button>
      </div>
      <div>
        <p-button label="{{produtos.activeIndex == 3 ?'salvar' : 'avançar'}}" [loading]="produtos.loading"
                  (click)="onUpdateIndexOrSave()"></p-button>
      </div>
    </div>
  </div>
</div>

