<div class="flex flex-wrap justify-content-around login-container" *ngIf="userStore.user$ | async as usuario">
  <section id="login-card" class="login-card">
    <p-card>
      <div class="flex flex-column">
        <div class="text-6xl">
          Bem-vindo!
        </div>
        <div class="text-2xl py-4">
          Login
        </div>
        <form [formGroup]="usuario.LoginForm">
          <div class="field">
            <label for="float-username" class="label">E-mail</label>
            <input id="float-username" name="float-username" type="text"
                   placeholder="Insira seu e-mail, ex:(email@email.com)" pInputText class="w-full p-inputtext-lg"
                   formControlName="email">
          </div>
          <div class="field">
            <label for="float-password" class="label">Senha</label>
            <input id="float-password" name="float-password" type="password" placeholder="Insira sua senha" pInputText
                   class="w-full p-inputtext-lg" formControlName="senha">
          </div>
          <div class="flex justify-content-between">
            <div class="field-checkbox">
              <p-checkbox formControlName="checked" [binary]="true" inputId="binary"></p-checkbox>
              <label for="binary" class="checked">Lembre de mim</label>
            </div>
<!--            <div class="forgot">-->
<!--              <a href="/alterar-senha">Esqueceu a senha?</a>-->
<!--            </div>-->
          </div>
          <div class="py-2">
            <button pButton pRipple type="button" label="Entrar" (click)="isLoggedIn()" class="p-button-custom w-full"></button>
          </div>
          <div class="py-2 w-full">
            <div class="flex justify-content-center align-items-center register">
              <a href="/register">Não tem uma conta? <strong class="pl-1 text-900">Crie uma aqui</strong></a>
            </div>
          </div>
        </form>
      </div>
    </p-card>

  </section>
    <section id="image" >
      <img src="assets/img-login.jpg" class="image-login" alt="ilustração-de-pessoas-comendo-pizza">
    </section>
</div>
