<div class="flex flex-wrap justify-content-around login-container">
  <section id="image" class="image-login">
    <img src="assets/img-login.jpg" class="image-login" alt="ilustração-de-pessoas-comendo-pizza">
  </section>
  <section id="login-card" class="login-card">
    <p-card>
      <div class="flex flex-column">
        <form [formGroup]="registerForm" (ngSubmit)="isLoggedIn()">
          <div class="field">
            <label for="float-name" class="label">Nome*</label>
            <input id="float-rname" name="float-username" type="text" placeholder="Insira seu nome" pInputText
                   class="w-full p-inputtext-lg" formControlName="name"
                   [ngClass]="{'ng-invalid ng-dirty':
       registerForm.get('name').errors && (registerForm.get('name').dirty || registerForm.get('name').touched)}">
            <div class="p-1"
                 *ngIf="registerForm.get('name').errors && (registerForm.get('name').dirty || registerForm.get('name').touched)">
              <small id="name-help-update" class="p-error block">E obrigatório informar o nome</small>
            </div>
          </div>
          <div class="field">
            <label for="float-username" class="label">E-mail*</label>
            <input id="float-username" name="float-username" type="text"
                   placeholder="Insira seu e-mail, ex:(email@email.com)" pInputText class="w-full p-inputtext-lg"
                   formControlName="username"
                   [ngClass]="{'ng-invalid ng-dirty':
       registerForm.get('username').errors && (registerForm.get('username').dirty || registerForm.get('username').touched)}">
            <div class="p-1"
                 *ngIf="registerForm.get('username').errors && (registerForm.get('username').dirty || registerForm.get('username').touched)">
              <small id="username-help-required" class="p-error block">E obrigatório informar o E-mail.</small>
            </div>
          </div>
          <div class="field">
            <label for="float-password" class="label">Senha*</label>
            <input id="float-password" name="float-password" type="password" placeholder="Insira sua senha" pInputText
                   class="w-full p-inputtext-lg" formControlName="password"
                   [ngClass]="{'ng-invalid ng-dirty':
       registerForm.get('password').errors && (registerForm.get('password').dirty || registerForm.get('password').touched)}">
            <div class="p-1"
                 *ngIf="registerForm.get('password').errors && (registerForm.get('password').dirty || registerForm.get('password').touched)">
              <small id="password-help-required" class="p-error block">E obrigatório informar a senha.</small>
            </div>
          </div>
          <div class="py-2">
            <button pButton pRipple type="submit" label="Cadastrar" class="p-button-custom w-full"></button>
          </div>
          <div class="py-2 w-full">
            <div class="flex justify-content-center align-items-center register">
              <a href="/login">Você já possui uma conta? <strong class="pl-1 text-900">Entrar</strong></a>
            </div>
          </div>
        </form>
      </div>
    </p-card>
  </section>
</div>
