<section class="pre-container mx-auto flex flex-column" style="max-width: 950px">
  <div>
    <a (click)="ativador()" class="font-bold" style="cursor: pointer"><i class="mx-2" [ngClass]="icone()"
                                                                         style="font-size: 1.3rem"></i> ingredientes</a>
  </div>
  <div class="mx-auto" *ngIf="valor">
    <div class="flex flex-column  align-self-center formgroup-inline justify-content-center p-4 " style="width: 300px "
         *ngIf="store.produtos$ | async as produtos">

      <form class="field flex flex-column" [formGroup]="produtos.ingredientesForm">
        <label for="lastname5" class="p-sr-only"></label>
        <input id="lastname5" type="text"
               class="text-base text-color surface-overlay my-3 p-2 border-none border-bottom-1 border-bottom-solid surface-border appearance-none outline-none "
               placeholder="Adicionar produto" formControlName="produto">
        <input id="lastname" type="text"
               class="text-base text-color surface-overlay p-2 border-none border-bottom-1 border-bottom-solid surface-border appearance-none outline-none "
               placeholder="Adicionar quantidade" formControlName="quantidade">

      </form>
      <button class="btnAdd font-bold align-self-end" (click)="adicionar()"><i
        class="pi pi-plus-circle adicionar" style="font-size: 1.5rem"></i>
      </button>

    </div>
  </div>


  <div *ngIf="store.produtos$ | async as produtos">
    <div class="titulo-container border-bottom-1"><h1>Ingredientes</h1></div>
    <div class="flex border-bottom-1 justify-content-between my-4" *ngFor=" let ingrediente of produtos.ingredientes ">
      <div class="flex p-2">
        <i class="pi pi-circle-fill align-self-center mx-3 " style="font-size: 0.6rem"></i>
        <div>
          <h3 class="my-1">{{ingrediente.produto}}</h3>
          <p class="my-2">{{ingrediente.quantidade}}</p>
        </div>
      </div>
      <button class="border-none btnRmv px-4 py-2" (click)="remover()"><i class="pi pi-minus-circle"
                                                                          style="font-size: 1.5rem"></i></button>
    </div>
  </div>


</section>

