.pre-container {
  max-width: 950px;
  .adicionar{
    color: rgba(7, 91, 7, 0.72);
  }
  .remover{
    color:red;
  }

  .titulo-container {
    padding: 20px;
  }

  .btnRmv {
    background: none;
    cursor: pointer;

    i {
      color: red;
    }
  }

  .btnAdd {

    background: none;
    color: #222222;
    border: none;
    padding: 5px;
    cursor: pointer;
    i{
      font-weight: bold;
    }

  }

}
