<header class=" p-3">
    <div class="flex justify-content-around mx-4 my-4" >
      <div class="flex">
        <p>olá</p>
        <h3>nome</h3>
      </div>
      <div><a routerLink="perfil" routerLinkActive="activ font-bold p-2 text-white"  class=" navegacao p-3 hover:text-white" >Perfil <i class="pi pi-user mx-2" style="font-size: 1rem"></i></a></div>
      <a routerLink="/login" class=""><i class="pi pi-sign-out text-color font-bold" style="font-size: 1.5rem"></i></a>
    </div>

  <div class="formgroup-inline justify-content-center">
    <button  type="button" class="px-3 py-2 text-base border-none cursor-pointer bg-transparent
    transition-all transition-duration-200"><i class="pi pi-search" style="font-size: 1rem; color: #222222"></i></button>
    <div class="field">
      <label for="lastname5" class="p-sr-only">Lastname</label>
      <input id="lastname5" type="text" class="text-base text-color surface-overlay p-2 border-none border-bottom-1 border-bottom-solid surface-border appearance-none outline-none " placeholder="pesquise por receita">
    </div>
  </div>
  <div class="flex justify-content-center"><h2 class="mx-4">categorias</h2></div>

  <div class="flex justify-content-center">
    <ul class="flex my-4">
      <li><a routerLink="todas" routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao">Todas</a></li>
      <li><a routerLink="manha" routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao"> manhã</a></li>
      <li><a routerLink="almoco" routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao">Almoço</a></li>
      <li><a routerLink="janta" routerLinkActive="activ text-white font-bold" class="mx-2 hover:text-white p-3 navegacao">Janta</a></li>
    </ul>
  </div>
</header>
