<section class="mx-auto"  style="max-width: 950px">
  <div class="flex justify-content-between border-bottom-1 my-4 mx-4">
    <div class="">
      <h1 class="my-2">placeholder titulo</h1>
      <p class="my-2">placeholder detalhe</p>

    </div>
    <a routerLink="/"> <i class="pi pi-arrow-right text-black-alpha-80" style="font-size: 2rem"></i></a>
  </div>
  <div class="flex justify-content-around align-items-center">
    <div><a routerLink="/home" class="text-black-alpha-80">compartilhado<i class="pi pi-heart-fill mx-2" style="font-size: 1rem"></i></a></div>
    <div> <a routerLink="criar-receita"  class="text-white  "><i class="pi pi-plus p-2 backgroud-plus border-circle font-bold" style="font-size: 1rem"></i></a></div>
  </div>
</section>
